@charset "UTF-8";

:root {
    --primary-color: ;
    --secondary-color: ;
    --ternary-color: ;
    --background-color: ;
    --text-color: ;
    --verde-folha: #3D7A3B;
    --verde-claro: #A8D38F;
    --verde-musgo: #6E8B61;
    --marrom-terra: #7B5E47;
    --branco-orvalho: #F0F8F1;
}